<%- include('../partials/header') %>

<ul>
    <% skills.forEach(function(skl) { %>
        <li>
            <a href="/skills/<%= skl.id %>"><%= skl.skill %></a>
            | Fun Level:
            <%= skl.funLevel %>
        </li>
    <% }); %>
</ul>

<%- include('../partials/footer') %>
    